{% extends "index.html" %}
{% block content %}
    <div>
        <div>
            <span>Payments Saved: </span>{{schedule.paymentsSaved}}
        </div>
        <div>
            <span>Interest Saved: </span>{{schedule.interestSaved}}
        </div>
        {% if schedule.oldMaturityDate %}
            <div>
                <span>Old Maturity Date: </span>{{schedule.oldMaturityDate}}
            </div>
            <div>
                <span>New Maturity Date: </span>{{schedule.maturityDate}}
            </div>
        {% else %}
            <div>
                <span>Maturity Date: </span>{{schedule.maturityDate}}
            </div>
        {% endif %}
    </div>
    <div>
        <table cellpadding="10">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Payment</th>
                    <th>Interest</th>
                    <th>Principal</th>
                    <th>Extra</th>
                    <th>Interest PTD</th>
                    <th>Remaining Balance</th>
                    <th>Loan Paid %</th>
                </tr>
            </thead>
            <tbody>
                {% for p in schedule.schedule %}
                    <tr>
                        <td>{{p.date}}</td>
                        <td>{{p.periodPay}}</td>
                        <td>{{p.interest}}</td>
                        <td>{{p.principal}}</td>
                        <td>{{p.extra}}</td>
                        <td>{{p.interestPaid}}</td>
                        <td>{{p.remainingBalance}}</td>
                        <td>{{p.loanPaid}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
