{% block calculate %}
	<div class="col-sm-4">
		<form action="/calculate">
			<div class="panel">
				<div class="panel-head">
					<h3>Params</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="principal">Principal</label>
						<input type="number" id="principal" name="principal" placeholder="$100,000" required/>
					</div>
					<div class="form-group">
						<label for="rate">APR %</label>
						<input type="number" id="rate" name="rate" placeholder="4.5%" step="0.05" required/>
					</div>
					<div class="form-group">
						<label for="term">Loan Term</label>
						<input type="number" id="term" name="term" placeholder="30" required/>
					</div>
					<div class="form-group">
						<label for="start-date">Starting Date</label>
						<input type="date" id="start-date" name="start-date" required/>
					</div>
					<div class="form-group">
						<label for="use-history">Use Test History Data</label>
						<input type="checkbox" id="use-history" name="use-history"/>
					</div>
					<div class="form-group">
						<label for="ep-type">Extra Payment Type</label>
						<select name="ep-type">
							<option value="">-</option>
							<option value="one-time">One-Time</option>
							<option value="monthly">Monthly</option>
							<option value="annual">Annual</option>
						</select>
					</div>
					<div class="form-group">
						<label for="extra-payment">Extra Payment Amount</label>
						<input type="number" id="extra-payment" name="extra-payment" placeholder="$1,000" />
					</div>
					<div class="form-group">
						<label for="ep-start">Start Date</label>
						<input type="date" id="ep-start" name="ep-start" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
{% endblock %}
