<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Some Amort Calc</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		{% if nav is defined and nav.head is defined %}
			{% for rel in nav.head %}
				{% if rel.tag == "script" %}
					<script src="{{ rel.link }}"></script>
				{%  elif rel.tag == "link" %}
					<link rel="{{ rel.type }}" href="{{ rel.link }}">
				{% endif %}
			{% endfor %}
		{% endif %}
		<style>
			th, td{
				padding:10px;
				border: 1px solid black;
			}
		</style>
	</head>
	<body>
		<div class="container">
			{% include "calculate.html"%}
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
